In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('hw6/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings = pd.read_csv('hw6/ratings.csv')
ratings.head()
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [31]:
# Задание 1
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

def class_rating(item):
    if item <= 2.0:
        return 'low'
    elif item > 2.0 and item <= 4.0:
        return 'middle'
    else:
        return 'hight'

In [29]:
grouped = joined.groupby('movieId').mean()

In [36]:
grouped['class'] = grouped['rating'].apply(class_rating)
grouped.head(30)

             userId    rating     timestamp   class
movieId
1        306.530233  3.920930  1.129835e+09  middle
2        329.554545  3.431818  1.135805e+09  middle
3        283.596154  3.259615  1.005110e+09  middle
4        219.857143  2.357143  8.985789e+08  middle
5        299.571429  3.071429  9.926643e+08  middle
6        309.647059  3.946078  1.057817e+09  middle
7        279.000000  3.185185  9.665462e+08  middle
8        258.250000  2.875000  9.293918e+08  middle
9        362.937500  3.125000  9.447482e+08  middle
10       315.159091  3.496212  1.032265e+09  middle
11       306.200000  3.671429  9.896405e+08  middle
12       316.210526  2.421053  1.004476e+09  middle
13       243.750000  3.125000  1.065304e+09  middle
14       360.055556  3.833333  8.787585e+08  middle
15       358.769231  3.000000  9.438329e+08  middle
16       314.987805  3.926829  1.137933e+09  middle
17       310.134328  3.776119  1.021184e+09  middle
18       300.750000  3.700000  1.177677e+09  middle
19       315.806818  2.727273  1.125689e+09  middle
20       358.400000  2.500000  1.087044e+09  middle
21       295.314607  3.494382  9.650575e+08  middle
22       330.194444  3.222222  9.881599e+08  middle
23       290.312500  3.125000  1.029636e+09  middle
24       350.857143  3.125000  1.041680e+09  middle
25       292.776316  3.625000  9.862218e+08  middle
26       271.923077  3.500000  1.006846e+09  middle
27       364.777778  3.333333  1.042982e+09  middle
28       382.636364  4.227273  1.162221e+09   hight
29       328.368421  4.013158  1.120213e+09   hight
30       485.000000  3.000000  1.011917e+09  middle

In [ ]:
# Используем файл keywords.csv.

# Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

# geo_data = {

# 'Центр': ['москва', 'тула', 'ярославль'],

# 'Северо-Запад': ['петербург', 'псков', 'мурманск'],

# 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
# }

# Результат классификации запишите в отдельный столбец region.

In [37]:
kw = pd.read_csv('keywords.csv')

In [43]:
kw.head(30)

                          keyword     shows
0                              вк  64292779
1                   одноклассники  63810309
2                           порно  41747114
3                            ютуб  39995567
4                       вконтакте  21014195
5      одноклассники моя страница  19976138
6                            майл  15144673
7                           авито  14786593
8                      переводчик  14453469
9                          яндекс  13344734
10                сбербанк онлайн  10725673
11                           mail   7687204
12                           игры   6075762
13                        youtube   5729958
14         вконтакте моя страница   5971451
15                           секс   5431732
16                           гугл   5175471
17                             dr   4880955
18                    алиэкспресс   4879645
19                        рамблер   4540421
20                    фильмы 2016   4486635
21                         погода   4344510
22                             vk   4330448
23              ютуб видеохостинг   4215267
24                          дойки   4133424
25  одноклассники социальная сеть   4018230
26                       мультики   3866664
27                        контакт   3815111
28                        фейсбук   3669993
29                    порно видео   3858938

In [44]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [47]:
for row in geo_data:
    print(geo_data[row])

['москва', 'тула', 'ярославль']
['петербург', 'псков', 'мурманск']
['владивосток', 'сахалин', 'хабаровск']

In [52]:
b1 = [1,2,3,4,5,9,11,15]
b2 = [4,6,7,8]
len(set(b1).intersection(b2))

1

In [77]:
def find_geo(keywords):
    rows = []
    for row in geo_data:
        if len(set(geo_data[row]).intersection(keywords.split(' '))) > 0:
            rows.append(row)
    if len(rows) > 0:
        return ' '.join(rows)
    return 'undefined'

In [78]:
kw['region'] = kw.keyword.apply(find_geo)

In [81]:
kw[kw.region != 'undefined'].head(20)

                                 keyword   shows          region
127                         авито москва  979292           Центр
370             авито ру санкт петербург  425134    Северо-Запад
849                      авито ярославль  209581           Центр
1063                 фарпост владивосток  176951  Дальний Восток
1236                банк санкт петербург  174375    Северо-Запад
1259                              москва  153050           Центр
1346                     санкт петербург  144232    Северо-Запад
1396                     гисметео москва  140279           Центр
1482                    госуслуги москва  133061           Центр
1579                          авито тула  126168           Центр
1682                       погода москва  151701           Центр
2153                         авито псков   98931    Северо-Запад
2175                      дром хабаровск   98361  Дальний Восток
2398                      авито мурманск   89787    Северо-Запад
2550  банк санкт петербург интернет банк   89123    Северо-Запад
2806            циан недвижимость москва   78729           Центр
2974             авто ру санкт петербург   74918    Северо-Запад
3206                    дром владивосток   73084  Дальний Восток
3275                  100 сп владивосток   76418  Дальний Восток
3687                     авито хабаровск   63736  Дальний Восток

In [82]:
# Задание 3
# Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”.
# Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия.
# Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

# При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, 
# а пройдемся по следующему алгоритму:

# В переменную years запишите список из всех годов с 1950 по 2010.

# Напишите функцию production_year, которая каждой строке из названия фильма выставляет
# год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате,
# поэтому используйте следующий алгоритм:

# для каждой строки пройдите по всем годам списка years
# если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
# если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
# Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

# Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ 
# и отсортируйте результат по убыванию рейтинга

In [91]:
years = list(range(1950,2010))

In [95]:
def production_year(name):
    for year in years:
        if str(year) in name:
            return year
    return 1900

In [98]:
joined['year'] = joined.title.apply(production_year)
joined.head()

,userId,movieId,rating,timestamp,title,genres,class,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN,1995
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,middle,1995
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,middle,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,middle,1995
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,middle,1995

In [106]:
joined.groupby('year').mean().sort_values('rating', ascending=False)

          userId       movieId    rating     timestamp
year
1957  315.865116   3012.213953  4.039535  1.178092e+09
1954  315.735294   2426.022059  4.009191  1.159430e+09
1962  328.343511   4645.015267  3.969466  1.145154e+09
1952  356.708333   2687.718750  3.953125  1.156213e+09
1972  321.437500   4742.921196  3.944293  1.182165e+09
1964  321.351064   4900.795213  3.940160  1.180442e+09
1974  319.420601   3556.620172  3.935622  1.172035e+09
1967  312.167979   4951.223097  3.922572  1.162747e+09
1975  329.667190   3207.897959  3.879121  1.167952e+09
1958  341.042424   3267.648485  3.842424  1.114448e+09
1971  335.555347   4727.836773  3.841463  1.155517e+09
1966  339.021053  11602.578947  3.823684  1.205284e+09
1950  325.291925   4402.739130  3.813665  1.166512e+09
1968  323.290323   5358.142857  3.812212  1.160851e+09
1977  330.654321   4906.860670  3.810406  1.176425e+09
1951  331.719780   2104.802198  3.804945  1.136664e+09
1959  334.958848   2709.139918  3.794239  1.141051e+09
1981  332.231061   3959.550505  3.760732  1.149468e+09
1976  346.574468   4141.723404  3.760047  1.154248e+09
1973  335.830228   6417.192547  3.757764  1.155729e+09
1970  327.000000   5543.331967  3.754098  1.114961e+09
1965  310.384615   8878.311966  3.735043  1.167439e+09
1980  337.012712   3303.977754  3.733581  1.162009e+09
1960  337.948207   3800.266932  3.721116  1.163617e+09
1955  353.615385   3942.093407  3.719780  1.136474e+09
1961  323.911111   6044.808889  3.700000  1.161863e+09
1969  318.684932   7114.954338  3.682648  1.105720e+09
1956  394.295652   4670.304348  3.682609  1.142896e+09
1979  329.038168   4568.357506  3.676845  1.163923e+09
1953  344.398693   4340.869281  3.647059  1.174100e+09
...          ...           ...       ...           ...
1963  350.477352   4408.951220  3.628920  1.157645e+09
2009  320.858297  71265.886853  3.568966  1.409218e+09
1991  327.265389   3412.421022  3.552265  1.135729e+09
1900  331.781072  91508.951894  3.542858  1.410915e+09
1984  334.319223   3360.232477  3.529493  1.153426e+09
2008  314.188285  62333.863319  3.528126  1.385126e+09
2007  318.374892  55492.220449  3.522433  1.355426e+09
1982  339.273504   2887.172840  3.510921  1.149102e+09
2004  329.681711  13285.484956  3.507227  1.296885e+09
1994  308.467145    766.327228  3.500944  1.055582e+09
2006  335.717215  48309.502901  3.499033  1.327894e+09
1999  329.608466   3422.948854  3.498677  1.172115e+09
1987  346.993506   3922.337013  3.488312  1.153141e+09
2001  328.774259   5401.997957  3.482125  1.247649e+09
1989  332.134565   2780.721900  3.463061  1.142196e+09
2003  325.034340   8729.750397  3.462321  1.280538e+09
1986  346.763441   3417.012018  3.460152  1.138101e+09
1978  353.653061   5832.489796  3.455102  1.152125e+09
1993  319.644213   1474.743919  3.452152  1.075248e+09
1995  311.229818    429.228678  3.443848  1.049419e+09
1985  345.528698   3726.748585  3.434115  1.153617e+09
1990  326.232087   3154.670301  3.427310  1.129963e+09
1998  322.911161   2720.859994  3.427186  1.167948e+09
1988  341.358065   4129.747742  3.419032  1.155216e+09
2002  325.882175   6493.643505  3.414584  1.250048e+09
2000  321.353947   4632.339424  3.398922  1.211202e+09
2005  333.066506  37330.044471  3.359976  1.309928e+09
1992  323.776728   3429.598707  3.353555  1.133193e+09
1997  320.920670   2470.630524  3.347241  1.153470e+09
1996  313.544688   1273.748281  3.335329  1.067905e+09

[61 rows x 4 columns]